/* CSSは後から書いたものが優先される */
/* モバイルファースト */

/* COMMON */
/* small screen */

body{
  margin: 0;
}

.image{
  background: pink;
  height: 100px;
}
.text{
  background: gray;
  height: 100px;
}

/* medium screen */
@media (min-width:600PX){

}

/* large screen */
@media (min-width:800px){

}
